.nav-ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

